@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/Site/**/*';
@source '../../../../resources/views/filament/site/**/*';

@media (min-width: 124px) {
    /* Only hide login link in the sidebar, not other login buttons */
    .fi-topbar-item:has(a[href*="login"]) {
        display: none !important;
    }

    .fi-topbar-item:has(a[href*="register"]) {
        display: none !important;
    }
}
